  #greenbox{
    background-color: rgb(59, 165, 59);
     border-radius: 2%;
     border: 1px solid;
    box-shadow: 9px 9px 9px;
    height: 600px;
    width: 450px;
} 
#whitebox{
    background-color: white;
    border-radius: 3%;
    box-shadow: 6px 6px 3px;
    height: 500px;
    width: 350px;
    margin: 40px auto;
}
#SignUp{
    margin-left: 120px;
}

 #inputbox{
    box-shadow: 3px 4px 3px;
    border: none;
    outline: none;
    width: 250px;
    height: 25px;
    font-size:large;
} 
#n{
    margin-left:14px;
}
#e{
    margin-left: 10px;
}
#p{
    margin-left: 16px;
}
#c{
    margin-left: 10px;
}
#checkbox{
    text-decoration: none;
    color: red;
}
#btn{
    color: white;
    background-color: rgb(58, 172, 58);
    border: none;
    padding: 9px;
    border-radius: 30px;
    width: 110px;
    margin-left: 120px;
    box-shadow: 3px 3px 1px black;
    font-size: x-large;
}
#Already{
    margin-left: 50px;
    color: white;
}
#Loginhere{
    text-decoration: none;
    color: white;
}
#hr{
    width: 290px;
}
#leftmargin{
    margin-left: 35px;
}